@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Kennewick, WA 99337<br />
    <abbr title="Phone">P:</abbr>
    509.547.0994
</address>

<address>
    <strong>Github:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>LinkedIn:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>