
@{
    ViewBag.Title = "Csharp";
}

h2>work_c_sharp</h2>
<div class="jumbotron">
    <h1>C#/C++</h1>
    <p class="lead">It starts out scary, but it doesn't stay that way</p>
    <p>Since 2010</p>
</div>

<div class="row">
    <div class="col-lg-4">
        <h2>In Progress</h2>
        <p>
            Ipsem Lorem
        <p></p>
    </div>
    <div class="col-lg-4">
        <h2>Remember me</h2>
        <p>please</p>
    </div>
    <div class="col-lg-4">
        <h2>Web Hosting</h2>
        <p>Arvixe for now.</p>
    </div>
</div>