@{
    ViewBag.Title = "KWbuilt.com";
}

<div class="jumbotron">

      
    <p class="lead">KW built presents the creative and programming works of Ken Wagner.</p>

    <p>

    
    </p>
</div>

<div class="row">
    <div class="col-lg-4">
        <h2>Getting started</h2>
        <p>
            Something should be here, but it's not designed yet.
        </p>
        <p>Waiting</p>
    </div>
    <div class="col-lg-4">
        <h2>Something Funny</h2>
        <p>Is it a good time for knock knock jokes?</p>
        <p><a class="btn btn-default" href="http://www.rd.com/jokes/knock-knock/">Learn more from Reader's digest &raquo;</a></p>
    </div>
    <div class="col-lg-4">
        <h2>Database Confusion</h2>
        <p>I'm still lost, who's popular?</p>
        <p><a class="btn btn-default" href="http://db-engines.com/en/ranking">Ranking &raquo;</a></p>
    </div>
</div>