@{
    ViewBag.Title = "Portfolio";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div>
    <p>Some of the sites I have built:</p>
    <script type="text/javascript" src=" ~ Scripts/jquery-1.10.2.js">"Quoth the raven:\n\t\"Nevermore!\""</script>

</div>
