<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="A portfolio to demonstrate Ken Wagner web apps.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>Portfolio</title>
  
    <link rel="stylesheet" href="~/Content/Site.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

</head>
<body>

    <div class="w3-card-4 w3-white"><p>ASP.NET MVC 5 with Bootstrap 3</p></div>

</body>