
@{
    ViewBag.Title = "Resume";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h2>Resume</h2>
<div class="body-content">
    <a href="~/KenWagner-resume.docx">~/KenWagner-resume.docx</a>
</div>

<div class="col-md-6 col-md-push-3">
    <div class="">
        <button id="showModal" class="btn btn-danger">Click Me!</button>
    </div>

</div>