@{
    ViewBag.Title = "Edison Finder";
}

<div class="jumbotron">
    <h1>Edison Finder</h1>
    <p class="lead">Welcome to the place for talented inventors and those seeking them out.</p>
    <p><a href="http://www.biography.com/people/groups/famous-inventors" class="btn btn-primary btn-lg">Famous Inventors &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>The goal</h2>
        <p>
            How many businesses want access to good ideas and inventions? How many inventors want to solve small business needs?
        </p>
        <p>How many more ideas and inventions will show up if small businesses and innovators have a chance to meet to discus?</p>
        <p>Inventors, join an post your ideas (even if they have already been invented) in a concept and businesses join to see if an inventor has ideas you like and is in your area and meet them.  </p>
        <p>Practice due dillegence and make sure your ideas can be protected.</p>
        <p><a class="btn btn-default" href="http://patft.uspto.gov/">Patent Search &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>